:host(app-nav-bar) {
  display: flex;
  flex-direction: column;
}

.navBar {
  position: fixed;
  height: 100%;
  width: 20%;
  background: #11101d;
  padding: 1%;
  transition: all 0.5s ease;
  color: #fff;

  &-small{
      width: 4%;
  }

  &__logo {
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-center{
        justify-content: center;
    }
  }

  &__icon {
    transition: all 0.5s ease;
    cursor: pointer;
  }

  .logo__name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.5s ease;
    user-select: none;
  }

  &__items{
      display: flex;
      flex-direction: column;
      height: 80%;
      overflow-y: auto;
  }

  &__item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7%;
    padding: 3% 8%;
    user-select: none;
    cursor: pointer;
    height: 7%;
      p{
          margin: 0;
      }

      &-center{
          justify-content: center;
      }
  }

  &__item:hover{
    background: #FFF;
    color: #11101d;
    border-radius: 12px;
  }

  &__tooltip{
    position: absolute;
    color: black;
    left: calc(100% + 15px);
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 16%;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    //opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
    min-width: 6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}