<div class="navBar">
    <div class="navBar__logo">
        <div class="logo__name">{{config.logoName}}</div>
        <mat-icon class="navBar__icon">menu</mat-icon>
    </div>

    <div class="navBar__items">
        <div class="navBar__item" *ngFor="let item of config.items" (mouseenter) ="mouseEnter(item) "  (mouseleave) ="mouseLeave(item)">
            <mat-icon class="navBar__icon">{{item.icon}}</mat-icon>
            <p>{{item.name}}</p>
            <p class="navBar__tooltip" *ngIf="notComplete && item.tooltip">{{item.name}}</p>
        </div>
    </div>
</div>