<div class="navBar {{notComplete ? 'navBar-small': ''}}">
    <div class="navBar__logo {{notComplete ? 'navBar__logo-center': ''}} ">
        <div class="logo__name" *ngIf="!notComplete">{{config.logoName}}</div>
        <mat-icon class="navBar__icon" (click)="changeComplete()">menu</mat-icon>
    </div>

    <div class="navBar__items">
        <div class="navBar__item {{notComplete ? 'navBar__item-center': ''}}" *ngFor="let item of config.items" (mouseenter)="mouseEnter(item) "
            (mouseleave)="mouseLeave(item)">
            <mat-icon class="navBar__icon">{{item.icon}}</mat-icon>
            <p *ngIf="!notComplete">{{item.name}}</p>
            <p class="navBar__tooltip" *ngIf="notComplete && item.tooltip">{{item.name}}</p>
        </div>
    </div>
</div>