:host(app-nav-bar) {
  display: flex;
  flex-direction: column;
}

.navBar {
  position: fixed;
  height: 100%;
  width: 12%;
  background: #11101d;
  padding: 1%;
  transition: all 0.5s ease;
  color: #fff;

  &-small {
    width: 2%;
  }

  &__logo {
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-center {
      justify-content: center;
    }
  }

  &__icon {
    transition: all 0.5s ease;
    cursor: pointer;
    &-logout{
        margin: auto;
    }
  }

  .logo__name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.5s ease;
    user-select: none;
  }

  &__items {
    display: flex;
    flex-direction: column;
    height: 82%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7%;
    padding: 3% 8%;
    user-select: none;
    cursor: pointer;
    height: 7%;
    p {
      margin: 0;
      white-space: nowrap;
      transition: all 0.5s ease;
    }

    &-center {
      justify-content: center;
    }
  }

  &__item:hover {
    background: #fff;
    color: #11101d;
    border-radius: 12px;
  }

  &__tooltip {
    position: absolute;
    color: black;
    left: calc(100% + 15px);
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 16%;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    //opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
    min-width: 6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__profile {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 8%;
    user-select: none;
  }

  img {
    height: 100%;
    width: 32%;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
  }

  &__userValues {
    display: flex;
    flex-direction: column;
    width: 56%;
    height: 100%;
    justify-content: center;
    gap: 3%;

    .email {
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 12px;
      font-weight: 400;
      color: #fff;
      white-space: nowrap;
    }

    .name{
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        white-space: nowrap;
    }
  }
}
